policy_module(nairacoin, 1.100.1)

########################################
#
# Declarations
#

type nairacoin_t;
type nairacoin_exec_t;
init_daemon_domain(nairacoin_t, nairacoin_exec_t)

permissive nairacoin_t;

type nairacoin_initrc_exec_t;
init_script_file(nairacoin_initrc_exec_t)

type nairacoin_conf_t;
files_type(nairacoin_conf_t)

type nairacoin_var_lib_t;
files_type(nairacoin_var_lib_t)

type nairacoin_var_run_t;
files_type(nairacoin_var_run_t)

type nairacoin_port_t;
corenet_port(nairacoin_port_t)

########################################
#
# nairacoin local policy
#
allow nairacoin_t self:process { fork };

allow nairacoin_t self:fifo_file rw_fifo_file_perms;
allow nairacoin_t self:unix_stream_socket create_stream_socket_perms;

manage_dirs_pattern(nairacoin_t, nairacoin_conf_t, nairacoin_conf_t)
manage_files_pattern(nairacoin_t, nairacoin_conf_t, nairacoin_conf_t)

manage_dirs_pattern(nairacoin_t, nairacoin_var_lib_t, nairacoin_var_lib_t)
manage_files_pattern(nairacoin_t, nairacoin_var_lib_t, nairacoin_var_lib_t)
files_var_lib_filetrans(nairacoin_t, nairacoin_var_lib_t, { dir file })

manage_dirs_pattern(nairacoin_t, nairacoin_var_run_t, nairacoin_var_run_t)
manage_files_pattern(nairacoin_t, nairacoin_var_run_t, nairacoin_var_run_t)

sysnet_dns_name_resolve(nairacoin_t)
corenet_all_recvfrom_unlabeled(nairacoin_t)

allow nairacoin_t self:tcp_socket create_stream_socket_perms;
corenet_tcp_sendrecv_generic_if(nairacoin_t)
corenet_tcp_sendrecv_generic_node(nairacoin_t)
corenet_tcp_sendrecv_all_ports(nairacoin_t)
corenet_tcp_bind_generic_node(nairacoin_t)

gen_require(`
    type nairacoin_port_t;
')
allow nairacoin_t nairacoin_port_t:tcp_socket name_bind;

gen_require(`
    type nairacoin_port_t;
')
allow nairacoin_t nairacoin_port_t:tcp_socket name_connect;

domain_use_interactive_fds(nairacoin_t)

files_read_etc_files(nairacoin_t)

miscfiles_read_localization(nairacoin_t)

sysnet_dns_name_resolve(nairacoin_t)

allow nairacoin_t nairacoin_exec_t:file execute_no_trans;
allow nairacoin_t self:process setsched;
corecmd_exec_ls(nairacoin_t)
corenet_tcp_connect_http_port(nairacoin_t)
dev_read_urand(nairacoin_t)
fs_getattr_xattr_fs(nairacoin_t)
kernel_read_system_state(nairacoin_t)
