# http://standards.freedesktop.org/desktop-entry-spec/desktop-entry-spec-1.0.html

[Desktop Entry]
Encoding=UTF-8
Name=Nairacoin Core
Comment=Nairacoin Core QT main network
GenericName=Nairacoin Digital Currency QT client main network
Exec=nairacoin-core.qt %u
Terminal=false
Type=Application
Icon=${SNAP}/share/pixmaps/nairacoin.png
MimeType=x-scheme-handler/nairacoin;
Categories=X-Office;X-Finance;
Keywords=internet;nairacoin;zNRC;piv;core;wallet;qt;main;snap;launchpad;crypto;digital;currency;coin;token;zerocoin;
Version=1.0
Name[en_US]=nairacoin-qt.desktop
